@font-face {
    font-family: 'munhwa_b';
    src: url(../font/bold.ttf);
}

@font-face {
    font-family: 'munhwa_r';
    src: url(../font/regular.ttf);
}

@font-face {
    font-family: 'notosans';
    src: url(../font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

:root {
    --main: 'munhwa_b';
    --sub: 'mumhwa_r';
    --text: 'notosans';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

figure {
    width: fit-content;
    height: fit-content;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--main);
    line-height: 180%;
}

table {
    width: 100%;
    height: 300px;
    border-collapse: separate;
    margin-bottom: 10px;
    table-layout: fixed;
    border-spacing: 13px 25px;
}

td {
    width: 300px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 26px;
}

table tr td:nth-child(2) {
    width: 83px;
}

.hidden {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
    font-size: 0;
    overflow: hidden;
}

h3,
h5 {
    font-size: 24px;
}

p {
    font-size: 16px;
}


.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #000;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 55px;
}

.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: #000;
    height: 3px;
    font-size: 0px;
    line-height: 0px;
    margin-left: 24px;
}

/* setting */

header {
    width: 100%;
    height: 90px;
    line-height: 90px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 160px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 42px;
}

header nav ul li:last-child {
    margin-right: 0;
}

.submenu{
    width: 275px;
    height: 85px;
    position: absolute;
    /* right: 0; */
    top: 80px;
    right: -500px;
    display: flex;
    align-items: center;
}

.submenu ul li:nth-child(2){
    background-color: #B15E58;
    color: #fff;
}

.submenu ul li:nth-child(3){
    background-color: #E9BC64;
    color: #fff;
}

.submenu ul li:nth-child(4){
    background-color: #003668;
    color: #fff;
}

.submenu ul li:nth-child(5){
    background-color: #4E8158;
    color: #fff;
}

.submenu ul li:last-child{
    background-color: #333;
    color: #fff;
}




main {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-bottom: 200px;
}

.section_01 {
    text-align: center;
}

.section_01 .notice {
    margin-bottom: 100px;

}

.section_01 .info .box {
    width: 267px;
    height: 260px;
    line-height: 300%;

}

.time {
    background-color: #B15E58;
    color: #fff;
    font-size: 34px;
}

.rule {
    background-color: #E9BC64;
    color: #fff;
    font-size: 34px;
}

.use {
    background-color: #003668;
    color: #fff;
    font-size: 34px;
}

.comment {
    background-color: #4E8158;
    color: #fff;
    font-size: 34px;
}

.season {
    margin-bottom: 200px;

}

/* //section 01 */

/* section 02 */
.s2 {
    width: 100%;
    text-align: center;
    background-image: url(../img/section_01.jpg);
    color: #fff;
    padding-top: 127px;
    margin-bottom: 100px;
    margin: 0 auto;
}


.s2 h2 {
    font-size: 36px;
    margin-bottom: 57px;
}

.s2 p {
    padding-bottom: 160px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}

.contents {
    margin: auto;
}

.s2_t {
    padding: 0 97px;
}

.s2_t h5 {
    margin-bottom: 65px;
}

.s2_t p {
    line-height: 200%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

.btn .col-2 {
    margin: 0 auto;
}

.s2_btn {
    background-color: #E9BC64;
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 210px;
    margin-top: 167px;
    cursor: pointer;
}

.s3_banner {
    background-image: url(../img/section_02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding-top: 73px;
    padding-bottom: 227px;
    margin-bottom: 100px;
}

.s3_banner h5 {
    padding-left: 462px;
    line-height: 200%;
}

.s3_t {
    text-align: center;
    margin-bottom: 100px;
}

.s3_c {
    text-align: center;
    margin-bottom: 200px;
}

.s3_c p {
    margin-bottom: 55px;
}

.section_04 .box {
    margin-bottom: 100px;
}

.s4_noti {
    width: 100%;
    border: 2px solid #D9D9D9;
    font-family: 'Noto Sans KR', sans-serif;
}

.footer_1 {
    width: 100%;
    height: 80px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;

}

.footer_1 h6 {
    margin-right: 66px;
}

.footer_1 h6:first-child {
    margin-left: 467px;
}

.footer_2 {
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    /* max-width: 1600px; */
}

.footer_2 .f_logo {
    width: 226px;
    margin-left: 160px;
    margin-right: 80px;
}

.footer_2 .f_t {
    font-size: 16px;
    font-family: var(--text);
    font-weight: 100;
}

.footer_2 .icon {
    margin-left: 337px;
    display: flex;
}

.footer_2 .icon figure:nth-child(2) {
    margin: 0 25px;
}

.footer_2 .icon .museum {
    width: 227px;
    height: 40px;
    border: none;
    background-color: #fff;
    font-family: var(--main);
    border-radius: 5px;
    font-size: 14px;
    line-height: 150%;
}

@media screen and (max-width:575px) {
    header {
        height: 80px;
        background-color: #fff;
        max-width: 543px;
        margin: auto;
    }

    header h1 {
        width: 127px;
        height: 38px;
    }

    header nav {
        display: none;
    }

    .hearder .ham{
        display: block;
    }

    .video {
        width: 100%;
        position: relative;
        top: 80px;
        margin: auto;
    }

    .main {
        height: 296px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .s2 h2 {
        font-size: 20px;
    }

    .s2 p {
        font-size: 13px;
    }

    .s2_t h5 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .s2_t{
        padding: 0;
    }

    .s2_t>p {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* //section02 */
    /* section3 */

    .s3_banner {
        margin-bottom: 100px;
    }

    .s3_banner h5 {
        padding-left: 16px;
        font-size: 16px;
    }

    .s3_t h5 {
        font-size: 20px;
    }

    .s3_c p {
        margin-bottom: 25px;
    }

    /* //section 03*/

    /* section 04 */

    .section_04 .box {
        margin-bottom: 100px;
    }

    /* //section 04 */

    /* footer */
    .footer_1 {
        height: 38px;
    }

    .footer_1 h6 {
        font-size: 10px;
    }

    .footer_1 h6:first-child {
        margin-left: 16px;
    }

    .footer_2 {
        height: 120px;
    }

    .footer_2 .f_logo {
        width: 127px;
        height: 38px;
        margin-left: 16px;
        margin-right: 61px;
    }

    .footer_2 .f_t {
        font-family: var(--text);
        font-size: 10px;
        margin-bottom: 0;
        line-height: 160%;
    }

    .footer_2 .icon {
        display: none;
    }

}